<section class="roomPayment"><!-- roomPayment -->
  <div class="paymentInfoWrap">
    <div class="paymentInfo">
      <h4>바다를 보며 잠이드는 곳<br>'산책하우스'</h4>
      <p>Aewol-eup, Jeju의 펜션</p>
      <span class="grade">후기</span>
    </div>
    <div class="paymentPhoto">
      <img src="" alt=""> 숙소 이미지
    </div>
  </div>
  <div class="paymentGuest">
    <div class="paymentGuestInfo">게스트 2명</div>
    <div class="paymentDate">
      <div class="paymentCheckIn">2019년 11월 11일</div>
      <div class="paymentDateLine">-></div>
      <div class="paymentCheckOut">2019년 11월 13일</div>
    </div>
  </div>
  <div class="paymentReceipt">
    <ul>
      <li>
        <span>₩74,000 x 2박</span>
        <span>₩148,000</span>
      </li>
      <li>
        <span>청소비</span>
        <span>₩10,000</span>
      </li>
      <li>
        <span>서비스 수수료</span>
        <span>₩20,382</span>
      </li>
      <li>
        <span>숙박세와 수수료</span>
        <span>₩2,038</span>
      </li>
      <li class="total">
        <span>총 합계 (KRW)</span>
        <span>₩180,420</span>
      </li>
    </ul>
  </div>
  <div class="paymentDateNow">
    <ul>
      <li>
        <span class="bold">지급일: 지금</span>
        <span>₩90,210</span>
      </li>
      <li>
        <span>지급일: 2019년 10월 29일</span>
        <span>₩90,210</span>
      </li>
    </ul>
  </div>
  <div class="cancel">
    <div>
      <h4>일반 – 무료 취소</h4>
      <p>48시간 이내에 취소하면 전액이 <br>환불됩니다. <a href="#">자세히 알아보기</a></p>
    </div>
    <div>
      이미지
    </div>
  </div>
</section><!-- //roomPayment -->
