<div class="roomHeader">
  <h1 class="logo">
    <a routerLink="/home"
      ><img
        src="https://i.postimg.cc/zDhvQrxH/logo.png"
        alt="Airbnb"
        class="mainLogo"
      />
    </a>
  </h1>
  <div class="language">
    <button (click)="switchLanguage()">
      {{ switchLang ? 'KOR' : 'ENG' }}
    </button>
  </div>
</div>
<section class="guestInfoContainer">
  <section class="guestInfo">
    <h2>{{ 'guestInfo.whoIsComing' | translate }}</h2>
    <div class="peopleNumber">
      <h3>{{ 'guestInfo.guestsCap' | translate }}</h3>
      <div class="peopleNumberBtn" *ngIf="personnel === 1">
        {{ personnel }} {{ 'guestInfo.guest' | translate }}
      </div>
      <div class="peopleNumberBtn" *ngIf="personnel > 1">
        {{ personnel }} {{ 'guestInfo.guests' | translate }}
      </div>
    </div>
    <div class="hostMessageContainer">
      <div class="hostInfo">
        <h3>{{ 'guestInfo.tellToHost' | translate }}</h3>
        <p>{{ 'guestInfo.tellToHostBrief' | translate }}</p>
      </div>

      <div class="hostMessage">
        <textarea
          name=""
          id=""
          placeholder="Please enter a message."
          (input)="changeIsEmpty(userMessage)"
          #userMessage
        ></textarea>
      </div>
    </div>
    <button
      class="guestInfoBtn"
      (click)="toCheckPayment(userMessage)"
      [disabled]="isEmpty"
      [style.background]="isEmpty ? '#ccc' : '#fd5c63'"
    >
      {{ 'guestInfo.continue' | translate }}
    </button>
  </section>
  <app-payment></app-payment>
</section>
