
<section class="guestInfoContainer">
  <section class="guestInfo">
    <h2>일행이 있나요?</h2>
    <div class="peopleNumber">
      <h3>인원</h3>
      <button class="peopleNumberBtn">게스트 2명</button>
    </div>
    <div class="businessTrip">
      <h3>출장을 떠나시나요?</h3>
      <button>출장버튼</button>
    </div>
    <div class="hostMessageContainer">
      <div class="hostInfo">
          <h3>호스트에게 인사하기</h3>
      </div>
      <div class="hostMark">

      </div>
      <div class="hostMessage">
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>
    </div>
  </section>
  <app-payment></app-payment>
</section> 