.guestInfoContainer{
  width:1100px;
  margin:100px auto;

}
.guestInfo{
  float: left;
  width:700px;
  padding-left:30px;

    h2{
      font-size:2em;
      font-weight: 600;
      color:#444;
    }
}