@import '../../../styles.scss';

.background {
  height: 100vh;
  background-image: url('https://i.postimg.cc/Kc6xrNBX/florence-1655830-1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 80px;

  @include mobile {
    padding-top: 0;
    height: calc(85vh);
    background-image: url('https://i.postimg.cc/xjXxXVGv/plain-white-background.jpg');
  }
}
.formClass {
  width: 600px;
  margin: 0 auto;
  padding: 20px 30px;
  background: #fff;

  @include mobile {
    width: 100%;
  }
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.fa {
  font-size: 16px;
}

.fa-times {
  color: #fc642d;
}

.fa-check {
  color: #00a699;
}

.warningMessage {
  color: #fc642d;
  font-size: 13px;
  font-style: italic;
}

.inputDiv {
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  margin: 15px auto;
}

.input {
  display: inline-block;
  width: 95%;
  height: 40px;
  padding: 7px;
  font-size: 0.8rem;
  border: 0;
  margin-left: 5px;

  @include mobile {
    width: 90%;
  }
}

.passwordHide {
  display: none;
}

.warningPassword {
  font-size: 13px;
}

.monthSelector,
.daySelector,
.yearSelector {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 40px;
  padding: 7px;
  font-size: 16px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.monthSelector {
  width: 214px;
  margin-right: 15px;

  @include mobile {
    width: 100%;
  }
}

.daySelector {
  width: 127px;
  margin-right: 15px;

  @include mobile {
    width: 100%;
  }
}

.yearSelector {
  width: 167px;

  @include mobile {
    width: 100%;
  }
}

.textBold {
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.textColor484848 {
  color: #484848;
  font-size: 13px;
}

.signUpBtn {
  margin-top: 15px;
  width: 100%;
  height: 50px;
  font-size: 17px;
  font-weight: bold;
  background: #ff5a5f;
  color: #fff;
  border: 0;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
}

.disable {
  background: #ccc;
}
