<app-navigation></app-navigation>

<section class="storageListContainer">
  <div class="storageListTitle">
    <h2>목록</h2>
    <button class="storageListBtn">목록 만들기</button>
  </div>
  <section class="storageList">
    <h3>내 위시리스트</h3>
    <span>1개의 리스트</span>
    <div class="flexContainer">
      <div class="list">        
        <div class="listImage" style="background-image: url(https://a0.muscache.com/im/pictures/4230043/7e9a64d3_original.jpg?aki_policy=large)">
          <div class="listImageBg"></div>
          <div class="listTitle">
            <p>저장한 제목</p>
            <span>숙소정보</span>
          </div>
        </div>
      </div>
      <div class="list">        
        <div class="listImage" style="background-image: url(https://a0.muscache.com/im/pictures/b4066637-a13d-4a2f-801b-0d4d8551d719.jpg?aki_policy=large)">
          <div class="listImageBg"></div>
          <div class="listTitle">
            <p>저장한 제목</p>
            <span>숙소정보</span>
          </div>
        </div>
      </div>
      <div class="list">        
        <div class="listImage" style="background-image: url(https://a0.muscache.com/im/pictures/c448d8f3-3c31-4119-b69f-80f251621f94.jpg?aki_policy=large)">
          <div class="listImageBg"></div>
          <div class="listTitle">
            <p>저장한 제목</p>
            <span>숙소정보</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="popularList">
    <div class="storageListTitle">
      <h3>인기 목록</h3>
      <button class="popularBtn">전체보기</button>
    </div>
    <div class="flexContainer">
      <div class="list">        
        <div class="listImage" style="background-image: url(https://a0.muscache.com/im/pictures/22447cfd-d6d7-409d-8732-e7de62101841.jpg?aki_policy=large)">
          <div class="listImageBg"></div>
          <div class="listTitle">
            <p>인기 숙소</p>
            <span>숙소정보</span>
          </div>
        </div>
      </div>
      <div class="list">        
        <div class="listImage" style="background-image: url(https://a0.muscache.com/im/pictures/5b2bceb0-8f19-4b56-ab69-baa59c7f69fe.jpg)">
          <div class="listImageBg"></div>
          <div class="listTitle">
            <p>인기 숙소</p>
            <span>숙소정보</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<app-footer></app-footer>