<app-navigation></app-navigation>

<div *ngIf="!menuOpen">
  <section class="storageListContainer">
    <div class="storageListTitle">
      <h2>{{ 'storageList.Lists' | translate }}</h2>
    </div>
    <section class="storageList">
      <h3>{{ 'storageList.yourLists' | translate }}</h3>
      <span
        *ngIf="likedRoomDetails.length === 1 || likedRoomDetails.length === 0"
        class="numOfLists"
        >{{ likedRoomDetails.length }}
        {{ 'storageList.list' | translate }}</span
      >
      <span *ngIf="likedRoomDetails.length > 1" class="numOfLists"
        >{{ likedRoomDetails.length }}
        {{ 'storageList.lists' | translate }}</span
      >
      <div class="flexContainer">
        <div
          class="list"
          *ngFor="let room of likedRoomDetails; index as i"
          (click)="toRoomDetail(room.id)"
        >
          <img src="{{ room.image }}" alt="" class="listImage" />
          <div class="listTitle">
            <p>{{ room.title }}</p>
            <span>{{ room.address }}</span>
          </div>
        </div>
      </div>
    </section>
    <section class="popularList">
      <div class="storageListTitle">
        <h3>{{ 'storageList.popularLists' | translate }}</h3>
      </div>
      <div class="flexContainer">
        <div class="list">
          <div
            class="listImage"
            style="background-image: url(https://a0.muscache.com/im/pictures/22447cfd-d6d7-409d-8732-e7de62101841.jpg?aki_policy=large)"
          >
            <div class="listImageBg"></div>
            <div class="listTitle">
              <p>인기 숙소</p>
              <span>숙소정보</span>
            </div>
          </div>
        </div>
        <div class="list">
          <div
            class="listImage"
            style="background-image: url(https://a0.muscache.com/im/pictures/5b2bceb0-8f19-4b56-ab69-baa59c7f69fe.jpg)"
          >
            <div class="listImageBg"></div>
            <div class="listTitle">
              <p>인기 숙소</p>
              <span>숙소정보</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <app-footer></app-footer>
</div>
