<app-navigation (initializeCurrentPage) = "initializeCurrentPage()"></app-navigation>

<section class="tripContainer">
  <div class="tripImage">
    <img src="https://i.postimg.cc/VLggV3Qc/image.png" alt="">
  </div>
  <div class="tripDetail">
    <div class="detailTitle">
      <span>{{detailCategory}}</span>
      <h2>{{name}}</h2>
    </div>
    <ul>
      <li><i class="fa fa-map-marker" aria-hidden="true"></i>{{stateNmae}}</li>
      <li><i class="fa fa-clock-o" aria-hidden="true"></i>{{durationTime}}시간</li>
      <li><i class="fa fa-file-text-o" aria-hidden="true"></i> 음료</li>
      <li><i class="fa fa-comments-o" aria-hidden="true"></i>{{language}}</li>
    </ul>
    <div class="detail">
      <div class="host">
        <h4>호스트 소개</h4>
        <p>{{hostAbout}}</p>
      </div>
      <div class="program">
        <h4>프로그램</h4>
        <p>
          {{program}}
        </p>
      </div>
      <div class="reference">
        <h4>기타 참고사항</h4>
        <p>
            워크샵에 참가하실 분은 만들고자 하는 단어를 생각해 오시면 시간이 절약됩니다. 또한 원하시는 단어로 어떤 장신구를 만들지 생각해 오시면 더욱 좋습니다. 목걸이 팬던트나 뺏지, 귀걸이, 팔찌, 열쇠고리 등을 만들 수 있습니다. 글자수는 네 음절 까지가 기본 가격입니다.
        </p>
      </div>
      <div class="free">
        <h4>제공 항목</h4>
        <h5 class="item">음료 <i class="fa fa-coffee" aria-hidden="true"></i></h5>
        <p>뜨거운 음료 또는 과일 음료</p>
        <h5 class="item">준비물</h5>
        <p>{{guestMaterial}}</p>
      </div>
    </div>
  </div>
</section>
<section class="tripContainer">
  <div class="gest">
    <h2>게스트 사진</h2>
  </div>
  <div class="gestPhoto">
    <div class="photo">
      <img src={{image1}} alt="">
    </div>
    <div class="photo">
      <img src="{{image2}}" alt="">
    </div>
    <div class="photo">
      <img src="{{image3}}" alt="">
    </div>
  </div>
</section>
<section class="tripContainer">
  <div class="gest">
    <h2>게스트 후기</h2>
  </div>
  <div class="gestReview">
    <p>
      {{tripReviews}}
    </p>
  </div>
</section>



<app-footer></app-footer>