<app-navigation (initializeCurrentPage) = "initializeCurrentPage()"></app-navigation>

<section class="tripContainer">
  <div class="tripImage">
    <img src="https://i.postimg.cc/VLggV3Qc/image.png" alt="">
  </div>
  <div class="tripDetail">
    <div class="detailTitle">
      <span>밋업</span>
      <h2>홍대 언어교환 모닝 커피</h2>
    </div>
    <ul>
      <li><i class="fa fa-map-marker" aria-hidden="true"></i> Seoul</li>
      <li><i class="fa fa-clock-o" aria-hidden="true"></i>  2시간</li>
      <li><i class="fa fa-file-text-o" aria-hidden="true"></i> 음료</li>
      <li><i class="fa fa-comments-o" aria-hidden="true"></i> 영어, 한국어로 진행</li>
    </ul>
    <div class="detail">
      <div class="host">
        <h4>호스트 소개</h4>
        <p>우리는 어린 시절 친구 Jaehyo-Jay와 Kwangjin-Jacob입니다. 우리는 사람들을 만나고 연결하는 것을 좋아합니다. 우리는 지역 주민들과 외국인들이 함께 놀 수있는 경험을했습니다. 우리는 사회적 만남과 언어 교환을 이끌었고 그룹 환경의 안전과 안락함 속에서 재미 있고 새로운 친구를 사귈 수 있기를 바랍니다. 긍정적이고 편견없는 사람들은 우리를 포함하여 당신과 이야기하고 싶어합니다.</p>
      </div>
      <div class="program">
        <h4>프로그램</h4>
        <p>
            배낭 여행자이신가요? 혼자 여행을 하고 계시나요? 디지털 유목민입니까? 지금 여행 중이 아니시더라도 다양한 국적의 새로운 사람들을 만나고 싶으시다고요? 어떤 경우이든, 저희 일요일 언어교환에 오셔서 전세계에서 온 여행자들과 어울리고 사귀어보십시오. 좋은 친구를 사귀고 영어를 연습하고, 새로운 문화를 배웁니다. 모든 사람이 영어나 한국어에 능통하지 않으므로 모든 언어 수준을 환영합니다. 서로 알게되면 재밌는 게임을 배울 수 있습니다. 
            모임이 끝나면 원하는 경우 점심 식사를 함께 할 수 있습니다.
        </p>
      </div>
      <div class="reference">
        <h4>기타 참고사항</h4>
        <p>
            워크샵에 참가하실 분은 만들고자 하는 단어를 생각해 오시면 시간이 절약됩니다. 또한 원하시는 단어로 어떤 장신구를 만들지 생각해 오시면 더욱 좋습니다. 목걸이 팬던트나 뺏지, 귀걸이, 팔찌, 열쇠고리 등을 만들 수 있습니다. 글자수는 네 음절 까지가 기본 가격입니다.
        </p>
      </div>
      <div class="free">
        <h4>제공 항목</h4>
        <h5 class="item">음료 <i class="fa fa-coffee" aria-hidden="true"></i></h5>
        <p>뜨거운 음료 또는 과일 음료</p>
        <h5 class="item">준비물</h5>
        <p>오픈마인드</p>
      </div>
    </div>
  </div>
</section>
<section class="tripContainer">
  <div class="gest">
    <h2>게스트 사진</h2>
  </div>
  <div class="gestPhoto">
    <div class="photo">
      <img src="https://a0.muscache.com/im/pictures/8ec79199-ac60-4515-ac65-f0f43843f9f1.jpg?aki_policy=large" alt="">
    </div>
    <div class="photo">
      <img src="https://a0.muscache.com/im/pictures/8ec79199-ac60-4515-ac65-f0f43843f9f1.jpg?aki_policy=large" alt="">
    </div>
    <div class="photo">
      <img src="https://a0.muscache.com/im/pictures/8ec79199-ac60-4515-ac65-f0f43843f9f1.jpg?aki_policy=large" alt="">
    </div>
  </div>
</section>
<section class="tripContainer">
  <div class="gest">
    <h2>게스트 후기</h2>
  </div>
  <div class="gestReview">
    <p>
        Ce fut un agréable moment passé avec jounghye, j'ai vraiment adoré cette expérience ! Je vous encourage à faire de même !
    </p>
  </div>
</section>



<app-footer></app-footer>