<footer>
  <section class="footerContainer">
    <div class="airBnb">
      <h5>{{ 'footer.airbnb' | translate }}</h5>
      <ul>
        <li>
          <a href="#">{{ 'footer.careers' | translate }}</a>
        </li>
        <li>
          <a href="#">{{ 'footer.news' | translate }}</a>
        </li>
        <li>
          <a href="#">{{ 'footer.policies' | translate }}</a>
        </li>
        <li>
          <a href="#">{{ 'footer.help' | translate }}</a>
        </li>
        <li>
          <a href="#">{{ 'footer.diversityAndBelonging' | translate }}</a>
        </li>
        <li>
          <a href="#">{{ 'footer.accessibility' | translate }}</a
          ><span class="new"></span>
        </li>
      </ul>
    </div>
    <div class="trip">
      <h5>{{ 'footer.discover' | translate }}</h5>
      <ul>
        <li>
          <a href="#">{{ 'footer.trustAndSafety' | translate }}</a>
        </li>
        <li>
          <a href="#">{{ 'footer.airbnbCitizen' | translate }}</a>
        </li>
        <li>
          <a href="#">{{ 'footer.businessProgram' | translate }}</a>
        </li>
        <li>
          <a href="#">{{ 'footer.guideBook' | translate }}</a>
        </li>
        <li>
          <a href="#">{{ 'footer.airbnbmag' | translate }}</a>
        </li>
      </ul>
    </div>
    <div class="hosting">
      <h5>{{ 'footer.hosting' | translate }}</h5>
      <ul>
        <li>
          <a href="#">{{ 'footer.whyHost' | translate }}</a>
        </li>
        <li>
          <a href="#">{{ 'footer.hospitality' | translate }}</a>
        </li>
        <li>
          <a href="#">{{ 'footer.responsibleHosting' | translate }}</a>
        </li>
        <li>
          <a href="#">{{ 'footer.communityCenter' | translate }}</a>
        </li>
        <li>
          <a href="#">{{ 'footer.hostAnExperience' | translate }}</a
          ><span class="new"></span>
        </li>
        <li>
          <a href="#">{{ 'footer.openHomes' | translate }}</a>
        </li>
        <li>
          <a href="#">{{ 'footer.hosting' | translate }}</a>
        </li>
      </ul>
    </div>
    <div class="sns">
      <h5>{{ 'footer.termsAndConditions' | translate }}</h5>
      <ul>
        <li>
          <a href="#">{{ 'footer.termsAndConditions' | translate }}</a>
        </li>
        <li>
          <a href="#">{{ 'footer.privacy' | translate }}</a>
        </li>
        <li>
          <a href="#">{{ 'footer.siteMap' | translate }}</a>
        </li>
      </ul>
    </div>
  </section>
</footer>
