<footer>
  <section class="footerContainer">
    <div class="airBnb">
      <h5>{{ 'footer.airbnb' | translate }}</h5>
      <ul>
        <li>
          {{ 'footer.careers' | translate }}
        </li>
        <li>
          {{ 'footer.news' | translate }}
        </li>
        <li>
          {{ 'footer.policies' | translate }}
        </li>
        <li>
          {{ 'footer.help' | translate }}
        </li>
        <li>
          {{ 'footer.diversityAndBelonging' | translate }}
        </li>
        <li>
          {{ 'footer.accessibility' | translate }}<span class="new"></span>
        </li>
      </ul>
    </div>
    <div class="trip">
      <h5>{{ 'footer.discover' | translate }}</h5>
      <ul>
        <li>
          {{ 'footer.trustAndSafety' | translate }}
        </li>
        <li>
          {{ 'footer.airbnbCitizen' | translate }}
        </li>
        <li>
          {{ 'footer.businessProgram' | translate }}
        </li>
        <li>
          {{ 'footer.guideBook' | translate }}
        </li>
        <li>
          {{ 'footer.airbnbmag' | translate }}
        </li>
      </ul>
    </div>
    <div class="hosting">
      <h5>{{ 'footer.hosting' | translate }}</h5>
      <ul>
        <li>
          {{ 'footer.whyHost' | translate }}
        </li>
        <li>
          {{ 'footer.hospitality' | translate }}
        </li>
        <li>
          {{ 'footer.responsibleHosting' | translate }}
        </li>
        <li>
          {{ 'footer.communityCenter' | translate }}
        </li>
        <li>
          {{ 'footer.hostAnExperience' | translate }}<span class="new"></span>
        </li>
        <li>
          {{ 'footer.openHomes' | translate }}
        </li>
        <li>
          {{ 'footer.hosting' | translate }}
        </li>
      </ul>
    </div>
    <div class="sns">
      <h5>{{ 'footer.termsAndConditions' | translate }}</h5>
      <ul>
        <li>
          {{ 'footer.termsAndConditions' | translate }}
        </li>
        <li>
          {{ 'footer.privacy' | translate }}
        </li>
        <li>
          {{ 'footer.siteMap' | translate }}
        </li>
      </ul>
    </div>
  </section>
</footer>
