<footer>
  <section class="footerContainer">
    <div class="airBnb">
      <h5>에어비앤비</h5>
      <ul>
        <li><a href="#">채용정보</a></li>
        <li><a href="#">뉴스</a></li>
        <li><a href="#">정책</a></li>
        <li><a href="#">도움말</a></li>
        <li><a href="#">다양성과 소속감</a></li>
        <li><a href="#">접근성</a><span class="new"></span></li>
      </ul>
    </div>
    <div class="trip">
      <h5>여행하기</h5>
      <ul>
        <li><a href="#">신뢰와 안전</a></li>
        <li><a href="#">친구 초대하기</a></li>
        <li><a href="#">Airbnb Citizen</a></li>
        <li><a href="#">비즈니스 프로그램</a></li>
        <li><a href="#">가이드북</a></li>
        <li><a href="#">Airbnbmag</a></li>
        <li><a href="#">한국의 변경된 환불 정책</a></li>
      </ul>
    </div>
    <div class="hosting">
      <h5>호스팅하기</h5>
      <ul>
        <li><a href="#">호스팅의 장점</a></li>
        <li><a href="#">호스팅 기준</a></li>
        <li><a href="#">책임감 있는 호스팅 하기</a></li>
        <li><a href="#">커뮤니티 센터</a></li>
        <li><a href="#">트립 호스팅</a><span class="new"></span></li>
        <li><a href="#">Open Homes 프로그램</a></li>
      </ul>
    </div>
    <div class="sns">
      <h5>이용약관</h5>
      <ul>
        <li><a href="#">이용약관</a></li>
        <li><a href="#">개인정보 처리방침</a></li>
        <li><a href="#">여행지 찾기</a></li>
      </ul>
    </div>
  </section>
</footer>
