<!-- <header class="regulationHeader">
  <ul>
    <li class="active">1. 숙소 이용규칙 확인</li>
    <li>2. 게스트 정보 입력</li>
    <li>3. 확인 및 결제</li>
  </ul>
</header> -->
<section class="roomContainer">
  <section class="roomRegulation"><!-- roomRegulation -->
      <h2>숙소 이용규칙 확인하기</h2>
      <div class="regulationInfo"><!-- regulationInfo -->
        <h3>Aewol-eup, Jeju 3박</h3><!-- room에 따라 내용 변경되어야 함-->
        <div class="regulationCheckIn">
          <div class="regulationDate"><!-- 선택한 날짜가 넘어와야 함 -->
            <span>11월</span>
            <p>11</p>
          </div>
          <div class="regulationTime">
            <p>체크인: 월요일</p>
            <p>16:00 - 22:00</p>
          </div>
        </div>
        <div class="regulationCheckOut">
          <div class="regulationDate"><!-- 선택한 날짜가 넘어와야 함 -->
            <span>11월</span>
            <p>13</p>
          </div>
          <div class="regulationTime">
            <p>체크아웃: 수요일</p>
            <p>11:00</p>
          </div>
        </div>
      </div><!-- //regulationInfo -->
      <div class="precautions">
        <h3>주의할 사항</h3>
        <ul>
          <li>
            <img src="https://i.postimg.cc/zX3MwCFX/child.png">
            <span>어린이와 유아에게 적합함</span>
          </li>
          <li>
            <img src="https://i.postimg.cc/pddqxxcV/animal.png">
            <span>반려동물 동반 불가</span>
          </li>
          <li>
            <img src="https://i.postimg.cc/tCHkJFvM/noevent.png">
            <span>파티나 이벤트 금지</span>
          </li>
          <li>
            <img src="https://i.postimg.cc/9fSth9q1/smoking.png">
            <span>흡연 금지</span>
          </li>
        </ul>
        <a class="more">더 보기</a>
      </div>
      <button class="agreeBtn">동의 및 계속하기</button>
  </section><!-- //roomRegulation -->

  <app-payment></app-payment>
  
</section>