<!-- <header class="regulationHeader">
  <ul>
    <li class="active">1. 숙소 이용규칙 확인</li>
    <li>2. 게스트 정보 입력</li>
    <li>3. 확인 및 결제</li>
  </ul>
</header> -->
<section class="roomContainer clear-fix">
  <section class="roomRegulation">
    <!-- roomRegulation -->
    <h2>{{ 'roomRegulation.roomRegulationTitle' | translate }}</h2>
    <div class="regulationInfo">
      <!-- regulationInfo -->
      <h3 *ngIf="dayDiff === 1">
        {{ title }}, {{ destination }} {{ dayDiff }}
        {{ 'roomRegulation.night' | translate }}
      </h3>
      <h3 *ngIf="dayDiff > 1">
        {{ title }}, {{ destination }} {{ dayDiff }}
        {{ 'roomRegulation.nights' | translate }}
      </h3>
      <!-- room에 따라 내용 변경되어야 함-->
      <div class="regulationCheckIn">
        <div class="regulationDate">
          <!-- 선택한 날짜가 넘어와야 함 -->
          <span>{{ checkInArray[0] }}</span>
          <p>{{ checkInArray[1] }}</p>
        </div>
        <div class="regulationTime">
          <p>{{ 'roomRegulation.checkIn' | translate }} {{ getCheckInDay }}</p>
          <p>16:00 - 22:00</p>
        </div>
      </div>
      <div class="regulationCheckOut">
        <div class="regulationDate">
          <!-- 선택한 날짜가 넘어와야 함 -->
          <span>{{ checkOutArray[0] }}</span>
          <p>{{ checkOutArray[1] }}</p>
        </div>
        <div class="regulationTime">
          <p>
            {{ 'roomRegulation.checkOut' | translate }} {{ getCheckOutDay }}
          </p>
          <p>11:00</p>
        </div>
      </div>
    </div>
    <!-- //regulationInfo -->
    <div class="precautions">
      <h3>{{ 'roomRegulation.precautions' | translate }}</h3>
      <ul>
        <li>
          <img src="https://i.postimg.cc/zX3MwCFX/child.png" />
          <span>{{
            'roomRegulation.suitableForChildrenAndInfants' | translate
          }}</span>
        </li>
        <li>
          <img src="https://i.postimg.cc/pddqxxcV/animal.png" />
          <span>{{ 'roomRegulation.noPets' | translate }}</span>
        </li>
        <li>
          <img src="https://i.postimg.cc/tCHkJFvM/noevent.png" />
          <span>{{ 'roomRegulation.noPartiesAndEvent' | translate }}</span>
        </li>
        <li>
          <img src="https://i.postimg.cc/9fSth9q1/smoking.png" />
          <span>{{ 'roomRegulation.noSmoking' | translate }}</span>
        </li>
      </ul>
    </div>
    <button class="agreeBtn">
      {{ 'roomRegulation.agreeAndContinue' | translate }}
    </button>
  </section>
  <!-- //roomRegulation -->

  <app-payment></app-payment>
</section>
<app-footer></app-footer>
