@import '../../../styles.scss';
@mixin detailLine() {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.detailInfo {
  float: left;
  width: 700px;
  padding-right: 50px;

  .detailTitle {
    h2 {
      font-size: 2rem;
      font-weight: bold;
    }
    p {
      margin-top: 5px;
      font-weight: 300;
    }
  }

  .roomInfoContainer {

    .roomInfoList {
      margin-top: 20px;
      font-weight: 300;

      p {
        line-height: 1, 7;
        font-weight: bold;
        color: #484848;
      }
      span {
        margin-right: 20px;
      }
    }

  }
  .description {
    @include detailLine();

    li {
      font-weight: 300;
      line-height: 1.6;
    }
  }

  h3 {
    margin-bottom: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #484848;
  }
  h3.greenColor {
    color: $roomColor;
  }
}

.host,
.facilities,
.reservation,
.reviewContainer {
  clear: both;
  @include detailLine();
}

.fac {
  margin-top: 5px;

  .facImage {
    width: 50px;
    height: 40px;
  }
}

.facilities {
  h3 {
    margin-bottom: 10px;
  }

  li {
    float: left;
    width: 50%;
    font-weight: 300;
    margin-bottom: 5px;
    font-size: 0.8rem;

    img {
      margin-right: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  }

  &::after {
    clear: both;
    display: block;
    content: '';
  }
}
.reservation {
  h3 {
    padding-bottom: 10px;
  }
  .calendar {
    position: relative;

    .clickPrev {
      position: absolute;
      top: 70px;
      left: 0px;
      width: 50%;
      height: calc(100% - 70px);
      z-index: 9999;
    }
  }
}

.reviewContainer {
  h2 {
    margin:20px 0px 25px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .rating {
    color: $roomColor;
  }

  .ratingDetails {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .reviewList {
    margin-top: 20px;

    .userInfo {
      @include flexContainer(flex-start);
      .userPhoto {
        img {
          width: 40px;
          height: 40px;
          border: 1px solid #eee;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .name {
        margin-left: 5px;
        line-height: 40px;
        font-size: 0.9rem;
        font-weight: 600;
      }
    }
    .review {
      padding: 20px 0px;
      font-size: 0.9rem;
      font-weight: 300;
      border-bottom: 1px solid #f1f1f1;
    }
  }
}

::ng-deep.page-item.active .page-link{
  background:$mainColor;
  border:1px solid $mainColor;
}
.paginationWrap{
  margin-top:30px;
  text-align: center;

  .reviewPage{
    display: inline-block
  }
}

.loading {
  position: absolute;
  top: 200px;
  left: calc(50vw - 128px);
}


.ratingBox{
  margin-bottom:10px;
  padding-top:10px;
  border-top:1px solid #ddd;

  .ratingList{
    @include flexContainer(flex-start);
    
    .ratingDetails{
      width:50%;
      margin-bottom:10px;
      font-size:1.1rem;
      font-weight: 300;

      &:last-of-type{
        padding-left:20px;
      }

      .rating{
        float: right;
      }
    }
  }
}





