<section class="detailInfo">
  <div class="detailTitle">
    <h2>{{ title }}</h2>
    <p>{{ address }}</p>
  </div>
  <div class="roomInfoContainer">
    <div class="roomInfoList">
      <p>{{ room_type }}</p>
      <span *ngIf="capacity === 1">
        {{ capacity }} {{ 'roomDetailInfo.guest' | translate }}</span
      >
      <span *ngIf="capacity > 1">
        {{ capacity }} {{ 'roomDetailInfo.guests' | translate }}</span
      >
      <span *ngIf="bedroom === 1"
        >{{ bedroom }} {{ 'roomDetailInfo.bed' | translate }}</span
      >
      <span *ngIf="bedroom > 1"
        >{{ bedroom }} {{ 'roomDetailInfo.beds' | translate }}</span
      >
      <span *ngIf="bathroom === 1"
        >{{ bathroom }} {{ 'roomDetailInfo.bath' | translate }}</span
      >
      <span *ngIf="bathroom > 1"
        >{{ bathroom }} {{ 'roomDetailInfo.baths' | translate }}</span
      >
    </div>
  </div>
  <div class="description">
    <h3 class="greenColor">{{ 'roomDetailInfo.description' | translate }}</h3>
    <ul>
      <li *ngFor="let str of strArray">{{ str }}</li>
    </ul>
  </div>
  <div class="host">
    <h3 class="greenColor">{{ 'roomDetailInfo.contactHost' | translate }}</h3>
  </div>
  <div class="facilities">
    <h3>{{ 'roomDetailInfo.amenities' | translate }}</h3>
    <ul>
      <li *ngFor="let facility of facilitiesArray" class="fac">
        <img class="facImage" src="{{ facility[1] }}" />{{ facility[0] }}
      </li>
    </ul>
  </div>
  <div class="reservation">
    <h3>{{ 'roomDetailInfo.availability' | translate }}</h3>
    <div class="calendar">
      <bs-datepicker-inline
        [bsValue]="initCheckin"
        style="width:50%"
        [bsConfig]="datePickerConfig"
        (bsValueChange)="onValueChange($event)"
        [dateCustomClasses]="dateCustomClasses"
        [datesDisabled]="disabledDates"
        placement="bottom"
      ></bs-datepicker-inline>
      <div class="clickPrev"></div>
    </div>
  </div>
  <div class="reviewContainer">
    <h2>
      {{ reviews.length }} {{ 'roomDetailInfo.reviews' | translate }}
      <rating
        [(ngModel)]="total_rating"
        [max]="5"
        class="rating"
        [readonly]="true"
      ></rating>
    </h2>
    <div class="ratingBox">
      <div class="ratingList">
        <div class="ratingDetails">
          {{ 'roomDetailInfo.accuracy' | translate }}
          <rating
            [(ngModel)]="accuracyScore"
            [max]="5"
            class="rating"
            [readonly]="true"
          ></rating>
        </div>
        <div class="ratingDetails">
          {{ 'roomDetailInfo.location' | translate }}
          <rating
            [(ngModel)]="locationScore"
            [max]="5"
            class="rating"
            [readonly]="true"
          ></rating>
        </div>
      </div>
      <div class="ratingList">
        <div class="ratingDetails">
          {{ 'roomDetailInfo.communication' | translate }}
          <rating
            [(ngModel)]="communicationScore"
            [max]="5"
            class="rating"
            [readonly]="true"
          ></rating>
        </div>
        <div class="ratingDetails">
          {{ 'roomDetailInfo.checkIn' | translate }}
          <rating
            [(ngModel)]="checkInScore"
            [max]="5"
            class="rating"
            [readonly]="true"
          ></rating>
        </div>
      </div>
      <div class="ratingList">
        <div class="ratingDetails">
          {{ 'roomDetailInfo.cleanliness' | translate }}
          <rating
            [(ngModel)]="cleanScore"
            [max]="5"
            class="rating"
            [readonly]="true"
          ></rating>
        </div>
        <div class="ratingDetails">
          {{ 'roomDetailInfo.value' | translate }}
          <rating
            [(ngModel)]="valueScore"
            [max]="5"
            class="rating"
            [readonly]="true"
          ></rating>
        </div>
      </div>
    </div>
    <div class="reviewList" *ngFor="let review of newReviews">
      <div class="userInfo">
        <div class="userPhoto">
          <img src="{{ review[1] }}" />
        </div>
        <div class="name">
          <p class="name">{{ review[0] }}</p>
        </div>
      </div>
      <div class="review">
        <p>
          {{ review[2] }}
        </p>
      </div>
    </div>
    <div class="paginationWrap">
      <div class="reviewPage">
        <pagination
          [totalItems]="reviews.length"
          [itemsPerPage]="5"
          [rotate]="!rotate"
          [maxSize]="maxSize"
          [(ngModel)]="currentPage"
          (pageChanged)="pageChanged($event)"
        ></pagination>
      </div>
    </div>
  </div>
</section>

<div *ngIf="isLoading$ | async" class="loading">
  <img src="../../../assets/spinner.gif" alt="loading" class="spinnerImg" />
</div>
