<app-navigation></app-navigation>

<div class="formClass" *ngIf="!menuOpen">
  <form
    [formGroup]="profile"
    (ngSubmit)="
      onSubmit(inputUserName, inputUserEmail, firstName, lastName, description)
    "
  >
    <p class="title">{{ 'profile.editProfile' | translate }}</p>
    <div class="divideLine"></div>
    <div class="oneLine">
      <span class="inputTitleSpan"
        >{{ 'profile.idPlaceholder' | translate }}:
      </span>
      <div
        class="inputDiv"
        (click)="inputDivClicked(inputDivUserName)"
        (focusout)="inputDivUnclicked(inputDivUserName)"
        [style.background]="
          userNameDuplicate ? 'rgba(252, 100, 45, 0.3)' : '#fff'
        "
        #inputDivUserName
      >
        <input
          class="input"
          type="text"
          placeholder="{{ 'profile.idPlaceholder' | translate }}"
          formControlName="userName"
          (click)="deleteUserNameWarningMessage()"
          [style.background]="'rgba(255, 255, 255, 0)'"
          [value]="userNameFromServer"
          #inputUserName
        />
        <i class="fa fa-id-card-o" aria-hidden="true"></i>
      </div>
    </div>
    <p
      *ngIf="userName.errors?.required && userName.touched"
      class="warningMessage"
    >
      {{ 'profile.idWarningMessage' | translate }}
    </p>
    <p *ngIf="userNameDuplicate" class="warningMessage">
      {{ 'profile.userNameDuplicate' | translate }}
    </p>
    <div class="oneLine">
      <span class="inputTitleSpan">{{ 'profile.email' | translate }}: </span>
      <div
        class="inputDiv"
        (click)="inputDivClicked(inputDivEmail)"
        (focusout)="inputDivUnclicked(inputDivEmail)"
        [style.background]="
          userEmailDuplicate ? 'rgba(252, 100, 45, 0.3)' : '#fff'
        "
        #inputDivEmail
      >
        <input
          class="input"
          type="text"
          placeholder="{{ 'profile.emailPlaceholder' | translate }}"
          formControlName="userEmail"
          (click)="deleteEmailWarningMessage()"
          [style.background]="'rgba(255, 255, 255, 0)'"
          [value]="userEmailFromServer"
          #inputUserEmail
        />
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
    </div>
    <p
      *ngIf="userEmail.errors?.required && userEmail.touched"
      class="warningMessage"
    >
      {{ 'profile.emailRequiredWarningMessage' | translate }}
    </p>
    <p
      *ngIf="userEmail.errors?.pattern && userEmail.touched"
      class="warningMessage"
    >
      {{ 'profile.emailPatternWarningMessage' | translate }}
    </p>
    <p *ngIf="userEmailDuplicate" class="warningMessage">
      {{ 'profile.userEmailDuplicate' | translate }}
    </p>
    <div class="explanation">
      {{ 'profile.emailExplanation' | translate }}
    </div>
    <div class="oneLine">
      <span class="inputTitleSpan"
        >{{ 'profile.firstNamePlaceholder' | translate }}:
      </span>
      <div
        class="inputDiv"
        (click)="inputDivClicked(inputDivFistName)"
        (focusout)="inputDivUnclicked(inputDivFistName)"
        #inputDivFistName
      >
        <input
          class="input"
          type="text"
          placeholder="{{ 'profile.firstNamePlaceholder' | translate }}"
          formControlName="userFirstName"
          [value]="userFirstNameFromServer"
          #firstName
        />
        <i class="fa fa-user-o" aria-hidden="true"></i>
      </div>
    </div>
    <p
      *ngIf="userFirstName.errors?.required && userFirstName.touched"
      class="warningMessage"
    >
      {{ 'profile.firstNameRequiredWarningMessage' | translate }}
    </p>
    <p
      *ngIf="userFirstName.errors?.pattern && userFirstName.touched"
      class="warningMessage"
    >
      {{ 'profile.firstNamePatternWarningMessage' | translate }}
    </p>
    <div class="oneLine">
      <span class="inputTitleSpan"
        >{{ 'profile.lastNamePlaceholder' | translate }}:
      </span>
      <div
        class="inputDiv"
        (click)="inputDivClicked(inputDivLastName)"
        (focusout)="inputDivUnclicked(inputDivLastName)"
        #inputDivLastName
      >
        <input
          class="input"
          type="text"
          placeholder="{{ 'profile.lastNamePlaceholder' | translate }}"
          formControlName="userLastName"
          [value]="userLastNameFromServer"
          #lastName
        />
        <i class="fa fa-user-o" aria-hidden="true"></i>
      </div>
    </div>
    <p
      *ngIf="userLastName.errors?.required && userLastName.touched"
      class="warningMessage"
    >
      {{ 'profile.lastNameRequiredWarningMessage' | translate }}
    </p>
    <p
      *ngIf="userLastName.errors?.pattern && userLastName.touched"
      class="warningMessage"
    >
      {{ 'profile.lastNamePatternWarningMessage' | translate }}
    </p>
    <div class="explanation">
      {{ 'profile.lastNameExplanation' | translate }}
    </div>
    <div class="oneLine">
      <span class="inputTitleSpan"
        >{{ 'profile.description' | translate }}:
      </span>
      <div
        class="inputDiv"
        (click)="inputDivClicked(inputDivDescription)"
        (focusout)="inputDivUnclicked(inputDivDescription)"
        #inputDivDescription
      >
        <input
          class="input"
          type="text"
          placeholder="{{ 'profile.description' | translate }}"
          [value]="userDescriptionFromServer"
          #description
        />
        <i class="fa fa-info" aria-hidden="true"></i>
      </div>
    </div>
    <div class="explanation">
      {{ 'profile.descriptionExplanation1' | translate }}
      <br />
      <br />
      {{ 'profile.descriptionExplanation2' | translate }}
      <br />
      <br />
      {{ 'profile.descriptionExplanation3' | translate }}
      <br />
      <br />
      {{ 'profile.descriptionExplanation4' | translate }}
    </div>
    <button
      type="submit"
      class="updateBtn"
      [disabled]="profile.invalid"
      [class.disable]="profile.invalid"
      (click)="openModal(template)"
    >
      {{ 'profile.save' | translate }}
    </button>
  </form>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ 'profile.updateTitle' | translate }}
    </h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img src="https://i.postimg.cc/J08Gp0FB/user.png" class="modalImg" />
    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
    {{ 'profile.updateContents' | translate }}
  </div>
</ng-template>

<app-footer></app-footer>
