@import '../../../styles.scss';

.formClass {
  width: 700px;
  margin: 50px auto 0;
  padding: 20px 30px;
  background: #fff;
  border: 1px solid #00a699;
  border-radius: 10px;

}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.fa {
  font-size: 16px;
}

.fa-times {
  color: #fc642d;
}

.fa-check {
  color: #00a699;
}

.warningMessage {
  padding-left: 100px;
  color: #fc642d;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 10px;
}

.inputTitleSpan {
  display: inline-block;
  width: 100px;
  font-size: 0.9rem;
  font-weight: 500;
}

.explanation {
  padding-left: 100px;
  font-size: 0.8rem;
  color: #00a699;
}
.oneLine{
  margin: 15px auto;
}
.inputDiv {
  display: inline-block;
  width: 538px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.input {
  display: inline-block;
  width: 95%;
  height: 40px;
  padding: 7px;
  font-size: 0.8rem;
  border: 0;
  margin-left: 5px;
}

.passwordHide {
  display: none;
}

.warningPassword {
  font-size: 13px;
}

.monthSelector,
.daySelector,
.yearSelector {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 40px;
  padding: 7px;
  font-size: 16px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.monthSelector {
  width: 214px;
  margin-right: 15px;
}

.daySelector {
  width: 127px;
  margin-right: 15px;
}

.yearSelector {
  width: 167px;
}

.textBold {
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.textColor484848 {
  color: #484848;
  font-size: 13px;
}

.updateBtn {
  margin-top: 15px;
  width: 100%;
  height: 50px;
  font-size: 17px;
  font-weight: bold;
  background: $mainColor;
  color: #fff;
  border: 0;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
}

.disable {
  background: #ccc;
}

.modal-title {
  display: inline-block;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}

.modal-header {
  border: 0;
}

.modal-body {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.modalImg {
  width: 30%;
  display: block;
  height: auto;
  text-align: center;
  margin: 15px auto 30px;
}


@include tablets {
  .formClass {
     width: 90%;
  }
  .oneLine i{
    display: none
  }
  .inputTitleSpan {
    width:20%;
    height:40px;
    line-height: 40px;
  }
  .inputDiv {
    width:80%;
  }
  .explanation{
    padding:0px 10px;
  }
}
@include mobile {
  .formClass {
    padding:20px;
  }  
  .inputTitleSpan {
    width:30%;
    font-size:0.8rem;
  }
  .inputDiv {
    width:70%;
    font-size:0.8rem;
  }
}