<app-navigation></app-navigation>
<div class="whole">
  <div class="float-left left">
    <div class="hostInfo" *ngFor="let hostInfo of allInfo">
      <div class="hostInfoImgDiv">
        <img src="{{ hostInfo.room.host.image }}" class="hostInfoImg" />
        <p class="hostUserName">{{ hostInfo.room.host.username }}</p>
      </div>
      <div class="tripInfoDiv">
        <P class="tripInfoTitle">여행세부정보</P>
        <hr class="line" />
        <div class="checkInOutDate">
          <div class="checkInDate">
            <p>체크인</p>
            <p>{{ hostInfo.start_date }}</p>
          </div>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <div class="checkOutDate">
            <p>체크아웃</p>
            <p>{{ hostInfo.end_date }}</p>
          </div>
        </div>
        <hr class="line" />
        <div class="paymentInfoDiv">
          <p class="paymentInfoTitle">결제</p>
          <div class="paymentInfo">
            <p class="paymentInfoP">
              <span>₩{{ hostInfo.room.price }} X {{ dayDiff }}박</span>
              <span>₩{{ totalPriceBeforeTex }}</span>
            </p>
            <p class="paymentInfoP">
              <span>청소비</span>
              <span>₩{{ cleaningExpenses }}</span>
            </p>
            <p class="paymentInfoP">
              <span>서비스비</span>
              <span>₩{{ serviceFee }}</span>
            </p>
            <p class="paymentInfoP">
              <span>숙박세</span>
              <span>₩{{ accommodationsTax }}</span>
            </p>
            <hr />
            <p class="paymentInfoP">
              <span>합계</span>
              <span>₩{{ totalPriceAfterTex }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="float-right">
    <div
      class="messageDisplay"
      style="overflow: scroll; height: xyz;"
      #scrollMe
      [scrollTop]="scrollMe.scrollHeight"
    >
      <div *ngFor="let message of messageHistory">
        <div *ngIf="message.is_host" class="hostMessage">
          <div class="userImage">
            <img src="{{ message.author.image }}" />
          </div>
          <div class="hostName">
            <p>
              {{ message.author.username }}
            </p>
            <div class="message triangle">
              {{ message.text }}
            </div>
          </div>
        </div>
        <div *ngIf="!message.is_host" class="userMessage">
          <div class="userName">
            <p>
              {{ message.author.username }}
            </p>
            <div class="message triangleUser">
              {{ message.text }}
            </div>
          </div>
          <div class="userImage">
            <img src="https://i.postimg.cc/RFtppDcT/image.png" />
          </div>
        </div>
      </div>

      <div *ngFor="let message of messages">
        <div *ngIf="message.is_host" class="hostMessage">
          <div class="userImage">
            <img src="{{ message.author.image }}" />
          </div>
          <div class="hostName">
            <p>
              {{ message.author.username }}
            </p>
            <div class="message triangle">
              {{ message.text }}
            </div>
          </div>
        </div>
        <div *ngIf="!message.is_host" class="userMessage">
          <div class="userName">
            <p>
              {{ message.author.username }}
            </p>
            <div class="message triangleUser">
              {{ message.text }}
            </div>
          </div>
          <div class="userImage">
            <img src="https://i.postimg.cc/RFtppDcT/image.png" />
          </div>
        </div>
      </div>
    </div>
    <input
      class="messageText"
      type="text"
      placeholder="메세지 입력"
      #userInput
      (keyup.enter)="sendMsg(userInput)"
    />
  </div>
</div>

<div *ngIf="isLoading$ | async" class="loading">
  <img src="../../../assets/spinner.gif" alt="loading" class="spinnerImg" />
</div>

<app-footer></app-footer>
