<app-navigation></app-navigation>

<div class="outline">
  <div
    class="messageDisplay"
    style="overflow: scroll; height: xyz;"
    #scrollMe
    [scrollTop]="scrollMe.scrollHeight"
  >
    <div *ngFor="let message of messageHistory">
      <div *ngIf="message.is_host" class="hostMessage">
        <div class="userImage">
          <img src="https://i.postimg.cc/RFtppDcT/image.png">
        </div>
        <div class="hostName">
          <p>
            {{ message.author.username }}
          </p>
          <div class="message triangle">
              {{ message.text }}
          </div>
        </div>
      </div>
      <div *ngIf="!message.is_host" class="userMessage">
        <div class="userName">
          <p>
            {{ message.author.username }}
          </p>
          <div class="message triangleUser">
              {{ message.text }}
          </div>
        </div>
        <div class="userImage">
            <img src="https://i.postimg.cc/RFtppDcT/image.png">
        </div>
      </div>
    </div>



    <div *ngFor="let message of messages">
      <div *ngIf="message.is_host" class="hostMessage">
          <div class="userImage">
            <img src="https://i.postimg.cc/RFtppDcT/image.png">
          </div>
          <div class="hostName">
            <p>
              {{ message.author.username }}
            </p>
            <div class="message triangle">
                {{ message.text }}
            </div>
          </div>
      </div>
      <div *ngIf="!message.is_host" class="userMessage">
        <div class="userName">
          <p>
            {{ message.author.username }}
          </p>
          <div class="message triangleUser">
              {{ message.text }}
          </div>
        </div>
        <div class="userImage">
            <img src="https://i.postimg.cc/RFtppDcT/image.png">
        </div>
      </div>
    </div>



  </div>
</div>
<input class="messageText"
  type="text"
  placeholder="메세지 입력"
  #userInput
  (keyup.enter)="sendMsg(userInput)"
/>


<app-footer></app-footer>