h1 {
  display: inline-block;
  margin-top: 0;
}

a {
  margin-right: 10px;
}

nav {
  display: inline-block;

  li {
    display: inline-block;
  }

  a {
    margin-right: 10px;
  }
  button {
    margin-right: 10px;
  }
}

.mainLogo {
  height: 35px;
  width: auto;
}

.active {
  font-weight: bold;
}
