.header {
  position: relative;
  width: 100%;
  height: 80px;
  background: transparent;
  border-bottom: 1px solid #ddd;

  // position: fixed;

  .logo {
    width: 50px;
    float: left;
    margin: 20px 15px 0 20px;
    font-size: 0;
  }

  a {
    margin-right: 10px;
  }

  ::after {
    display: block;
    content: '';
    clear: both;
  }
}

.isMain {
  border-bottom: 0;
}

.headerNav {
  float: right;
  font-weight: bold;

  button {
    padding: 10px 20px;
    background: transparent;
    border: 0px;
    font-weight: bold;
  }

  ul {
    li {
      float: left;
      height: 78px;
      line-height: 78px;

      a {
        display: inline-block;
        padding: 0px 20px;
      }
    }

    li:hover {
      border-bottom: 2px solid #555;
    }
  }
}

button:focus {
  outline: none;
}

.mainLogo {
  height: 35px;
  width: 35px;
}

.search {
  float: left;
  height: 50px;
  margin-top: 15px;
  padding: 13px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.searchInput {
  width: 400px;
  border: 0;
  font-size: 17px;
  background: transparent;
}

.fa-search {
  font-size: 17px;
  margin-right: 10px;
}
.myPageBtn{
  height:100%;

  img{
    width:30px;
    height: 30px;
    border-radius: 50%;
    border:2px solid #ddd
  }
}

.myPageList{
  display: none;
  position: absolute;
  right:5px;
  top:79px;
  width:300px;
  padding:5px 10px;
  background: #fff;
  border:1px solid #ddd;
  box-shadow: 0px 0px 5px 2px #ddd;
  z-index: 1000;

  a{
    display: block;
    padding:15px;
    color:#555;
    border-bottom: 1px solid #f1f1f1;
  }
  a:hover{
    border-bottom: 1px solid #333;
  }
  .last{
    border:0
  }
}

.active{
  display: block;
}

.back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 100;
  background: #000;
}