<div class="language">
  <button (click)="switchLanguage('ko')" [style.color]="isMain ? '#fff' : '#000'">
    {{ 'btn_kor' | translate }}
  </button>
  <button (click)="switchLanguage('en')" [style.color]="isMain ? '#fff' : '#000'">
    {{ 'btn_eng' | translate }}
  </button>
</div>
<header class="header clear-fix" [class.isMain]="isMain">
  <div class="header-fixed">
    <h1 class="logo">
      <a routerLink="/home"
        ><img
          *ngIf="!isMain"
          src="https://i.postimg.cc/zDhvQrxH/logo.png"
          alt="Airbnb"
          class="mainLogo"
        />
        <img
          *ngIf="isMain"
          src="https://i.postimg.cc/7Y2G1YNd/logo.png"
          alt="Airbnb"
          class="mainLogo"
        />
      </a>
    </h1>
    <div class="search" *ngIf="!isMain">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input
        type="text"
        (keyup.enter)="showRoomList(input.value)"
        placeholder="{{ 'navigation.searchBarPlaceholder' | translate }}"
        class="searchInput"
        #input
      />
    </div>
    <nav class="headerNav">
      <ul class="clear-fix">
        <li
          *ngIf="authService.loggedIn()"
          class="borderColor555"
          [class.borderColorWhite]="isMain"
        >
          <a
            routerLink="/storageList"
            [style.color]="isMain ? '#fff' : '#000'"
            >{{ 'navigation.favorites' | translate }}</a
          >
        </li>
        <li
          *ngIf="authService.loggedIn()"
          class="borderColor555"
          [class.borderColorWhite]="isMain"
        >
          <a routerLink="/yourTrip" [style.color]="isMain ? '#fff' : '#000'">{{
            'navigation.myTrip' | translate
          }}</a>
        </li>
        <li
          *ngIf="!authService.loggedIn()"
          class="borderColor555"
          [class.borderColorWhite]="isMain"
        >
          <a routerLink="/signUp" [style.color]="isMain ? '#fff' : '#000'">{{
            'navigation.signUp' | translate
          }}</a>
        </li>
        <li
          *ngIf="!authService.loggedIn()"
          class="borderColor555"
          [class.borderColorWhite]="isMain"
        >
          <a routerLink="/signIn" [style.color]="isMain ? '#fff' : '#000'">{{
            'navigation.signIn' | translate
          }}</a>
        </li>
        <!-- <li class="myPageBtn" (click)="myPage= !myPage">
          <img src="https://i.postimg.cc/sXX85j2W/icon.png" alt="">
        </li> -->
        <li
          class="mypage borderColor555"
          *ngIf="authService.loggedIn()"
          [class.borderColorWhite]="isMain"
        >
          <div class="btn-group" dropdown placement="bottom right">
            <button
              id="button-basic"
              dropdownToggle
              type="button"
              class="btn dropdown-toggle"
              aria-controls="dropdown-basic"
            >
              <img src="https://i.postimg.cc/sXX85j2W/icon.png" alt="" />
              <span class="caret"></span>
            </button>
            <ul
              id="dropdown-basic"
              *dropdownMenu
              class="dropdown-menu dropdown-menu-right"
              role="menu"
              aria-labelledby="button-basic"
            >
              <li role="menuitem">
                <a class="dropdown-item" href="#">{{
                  'navigation.profile' | translate
                }}</a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item" href="#">{{
                  'navigation.account' | translate
                }}</a>
              </li>
              <li role="menuitem">
                <button class="dropdown-item" (click)="signOutBtn()">
                  {{ 'navigation.signOut' | translate }}
                </button>
              </li>
            </ul>
          </div>
        </li>
        <!-- <li class="test">
          <button (click)="switchLanguage('en')">
            {{ 'btn_eng' | translate }}
          </button>
          <button (click)="switchLanguage('ko')">
            {{ 'btn_kor' | translate }}
          </button>
        </li> -->
      </ul>
    </nav>
  </div>
</header>
