h1 {
  display: inline-block;
}
nav {
  display: inline-block;

  li {
    display: inline-block;
  }

  a {
    margin-right: 10px;
  }
  button {
    margin-right: 10px;
  }
}

.active {
  font-weight: bold;
}
