<header class="header clear-fix" [class.isMain]="isMain">
  <div class="header-fixed">
    <h1 class="logo">
      <a routerLink="/home"
        ><img
          *ngIf="!isMain"
          src="https://i.postimg.cc/zDhvQrxH/logo.png"
          alt="Airbnb"
          class="mainLogo"/>
        <img
          *ngIf="isMain"
          src="https://i.postimg.cc/7Y2G1YNd/logo.png"
          alt="Airbnb"
          class="mainLogo"
      />

    </a>
    </h1>
    <div class="search" *ngIf="!isMain">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input type="text" (keyup.enter)="showroomList()" placeholder="검색" class="searchInput" />
    </div>
    <nav class="headerNav">
      <ul class="clear-fix">
        <li *ngIf="authService.loggedIn()">
          <a routerLink="/storageList" [style.color]="isMain ? '#fff' : '#000'"
            >저장목록</a
          >
        </li>
        <li *ngIf="authService.loggedIn()">
          <a routerLink="/yourTrip" [style.color]="isMain ? '#fff' : '#000'"
            >여행</a
          >
        </li>
        <li *ngIf="!authService.loggedIn()">
          <a routerLink="/signUp" [style.color]="isMain ? '#fff' : '#000'"
            >회원가입</a
          >
        </li>
        <li *ngIf="!authService.loggedIn()">
          <a routerLink="/signIn" [style.color]="isMain ? '#fff' : '#000'"
            >로그인</a
          >
        </li>
        <!-- <li class="myPageBtn" (click)="myPage= !myPage">
          <img src="https://i.postimg.cc/sXX85j2W/icon.png" alt="">
        </li> -->
        <li class="mypage">
          <div class="btn-group" dropdown placement="bottom right">
            <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle" aria-controls="dropdown-basic">
              <img src="https://i.postimg.cc/sXX85j2W/icon.png" alt=""> <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="#">프로필</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">계정</a></li>
              <li role="menuitem" ><a class="dropdown-item" href="#">로그아웃</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
