<app-navigation></app-navigation>
<main class="mainBg">
  <div class="mainSearch">
    <form action="">
      <fieldset>
        <legend>숙소 예약</legend>
        <h2>특색 있는 숙소와 즐길 거리를 예약하세요.</h2>
        <div class="mainLine">
          <label for="">목적지</label>
          <input
            type="text"
            name=""
            id=""
            value=""
            placeholder="모든 위치"
            #destination
          />
        </div>
        <div class="mainDate">
          <div class="checkIn form-group">
            <label for="">체크인</label>
            <input
              type="text"
              placeholder="월/일/년"
              class="form-control"
              bsDatepicker
              [bsConfig]="{ isAnimated: true }"
              #checkIn
            />
          </div>
          <div class="checkOut form-group">
            <label for="">체크아웃</label>
            <input
              type="text"
              placeholder="월/일/년"
              class="form-control"
              bsDatepicker
              [bsConfig]="{ isAnimated: true }"
              #checkOut
            />
          </div>
        </div>
        <div class="btn-group" dropdown [insideClick]="true">
          <div>
            <p class="personnelLabel">인원</p>
            <button
              id="button-basic"
              dropdownToggle
              type="button"
              class="btn dropdown-toggle"
              aria-controls="dropdown-basic"
            >
              <span class="caret"></span>
            </button>
          </div>
          <div
            id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-basic"
          >
            <div role="menuitem">
              <div class="counterLine">
                <div class="people">
                  <p class="top">성인</p>
                </div>
                <div class="counterCheck">
                  <button
                    type="button"
                    class="decrease"
                    (click)="decrease(adult)"
                  >
                    -
                  </button>
                  <span class="counter" id="adults" #adult>{{ adults }}</span>
                  <button
                    type="button"
                    class="increase"
                    (click)="increase(adult)"
                  >
                    +
                  </button>
                </div>
              </div>
            </div>
            <div role="menuitem">
              <div class="counterLine">
                <div class="people">
                  <p>어린이</p>
                  <span>2~12세</span>
                </div>
                <div class="counterCheck">
                  <button
                    type="button"
                    class="decrease"
                    (click)="decrease(child)"
                  >
                    -
                  </button>
                  <span class="counter" id="children" #child>{{
                    children
                  }}</span>
                  <button
                    type="button"
                    class="increase"
                    (click)="increase(child)"
                  >
                    +
                  </button>
                </div>
              </div>
            </div>
            <div role="menuitem">
              <div class="counterLine">
                <div class="people">
                  <p>유아</p>
                  <span>2세 미만</span>
                </div>
                <div class="counterCheck">
                  <button
                    type="button"
                    class="decrease"
                    (click)="decrease(infant)"
                  >
                    -
                  </button>
                  <span class="counter" id="infants" #infant>{{
                    infants
                  }}</span>
                  <button
                    type="button"
                    class="increase"
                    (click)="increase(infant)"
                  >
                    +
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button
          type="button"
          class="mainBtn"
          (click)="
            sendReservationInfo(
              destination,
              checkIn,
              checkOut,
              adult,
              child,
              infant
            )
          "
        >
          검색
        </button>
      </fieldset>
    </form>
  </div>
</main>
