<app-navigation></app-navigation>
<main class="mainBg">
  <div class="mainSearch">
    <form action="">
      <fieldset>
        <legend>Room Reservation</legend>
        <h2>
          {{ 'home.searchFormTitle' | translate }}
        </h2>
        <div class="mainLine">
          <label for="">{{ 'home.destinationLabel' | translate }}</label>
          <input
            type="text"
            name=""
            id=""
            value=""
            placeholder="{{ 'home.destinationLabel' | translate }}"
            #destination
          />
        </div>
        <div class="mainDate">
          <div class="checkIn form-group">
            <label for="">{{ 'home.checkInLabel' | translate }}</label>
            <input
              type="text"
              placeholder="{{ 'home.checkInPlaceholder' | translate }}"
              class="form-control"
              bsDatepicker
              [bsConfig]="datePickerConfig"
              #checkIn
            />
          </div>
          <div class="checkOut form-group">
            <label for="">{{ 'home.checkOutLabel' | translate }}</label>
            <input
              type="text"
              placeholder="{{ 'home.checkOutPlaceholder' | translate }}"
              class="form-control"
              bsDatepicker
              [bsConfig]="datePickerConfig"
              #checkOut
            />
          </div>
        </div>
        <div class="btn-group" dropdown [insideClick]="true">
          <div>
            <p class="personnelLabel">{{ 'home.guestsLabel' | translate }}</p>
            <button
              id="button-basic"
              dropdownToggle
              type="button"
              class="btn dropdown-toggle"
              aria-controls="dropdown-basic"
            >
              <span class="caret" *ngIf="personnel === 1"
                >{{ personnel }} {{ 'home.guestCountOne' | translate }}</span
              >
              <span class="caret" *ngIf="personnel > 1"
                >{{ personnel }}
                {{ 'home.guestCountOverOne' | translate }}</span
              >
            </button>
          </div>
          <div
            id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-basic"
          >
            <div role="menuitem">
              <div class="counterLine">
                <div class="people">
                  <p class="top">{{ 'home.adults' | translate }}</p>
                </div>
                <div class="counterCheck">
                  <button
                    type="button"
                    class="decrease"
                    (click)="decrease(adult)"
                  >
                    -
                  </button>
                  <span class="counter" id="adults" #adult>{{ adults }}</span>
                  <button
                    type="button"
                    class="increase"
                    (click)="increase(adult)"
                    [style.opacity]="styleIncreasebtn1" 
                    [disabled]="increaseBtn1 ? 'disabled' : null"
                  >
                    +
                  </button>
                </div>
              </div>
            </div>
            <div role="menuitem">
              <div class="counterLine">
                <div class="people">
                  <p>{{ 'home.children' | translate }}</p>
                  <span>{{ 'home.childrenSpan' | translate }}</span>
                </div>
                <div class="counterCheck">
                  <button
                    type="button"
                    class="decrease"
                    (click)="decrease(child)"
                  >
                    -
                  </button>
                  <span class="counter" id="children" #child>{{
                    children
                  }}</span>
                  <button
                    type="button"
                    class="increase"
                    (click)="increase(child)"
                    [style.opacity]="styleIncreasebtn2" 
                    [disabled]="increaseBtn2 ? 'disabled' : null"
                  >
                    +
                  </button>
                </div>
              </div>
            </div>
            <div role="menuitem">
              <div class="counterLine">
                <div class="people">
                  <p>{{ 'home.infants' | translate }}</p>
                  <span>{{ 'home.infantsSpan' | translate }}</span>
                </div>
                <div class="counterCheck">
                  <button
                    type="button"
                    class="decrease"
                    (click)="decrease(infant)"
                  >
                    -
                  </button>
                  <span class="counter" id="infants" #infant>{{
                    infants
                  }}</span>
                  <button
                    type="button"
                    class="increase"
                    (click)="increase(infant)"
                    [style.opacity]="styleIncreasebtn3" 
                    [disabled]="increaseBtn3 ? 'disabled' : null"
                  >
                    +
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button
          type="button"
          class="mainBtn"
          (click)="sendReservationInfo(destination, checkIn, checkOut)"
        >
          {{ 'home.searchBtn' | translate }}
        </button>
      </fieldset>
    </form>
  </div>
</main>
