.positionTop {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
}

.filter {
  width: 100%;
  height: 48px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.filterButton {
  margin: 0px 4px 0px 8px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(72, 72, 72);
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  background: none;
  text-align: center;
  width: auto;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(220, 224, 224);
  border-image: initial;
  border-radius: 4px;
  text-decoration: none;
}

.filterButton::placeholder {
  color: #484848;
}

.filterRight {
  position: absolute;
  right: 30px;
}

.filterRight button {
  display: inherit;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  border-radius: 32px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 132, 137);
}

.filterRight span {
  padding-right: 8px;
}

::ng-deep.bs-datepicker {
  margin-left: 550px;
  margin-top: 10px;
  height: 350px;
  position: relative;
}

.custom-content {
  position: absolute;
  z-index: 1081;
  top: 390px;
  cursor: pointer;
  align-self: center;
}

button:focus {
  outline: none;
}
.date,
.personnel,
.businesstrip,
.roomtype,
.price,
.instantreservation,
.addfilter {
  display: inline;
}

.mainLogo {
  height: 35px;
  width: 35px;
}

.search {
  float: left;
  height: 50px;
  margin-top: 15px;
  padding: 13px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.searchInput {
  width: 400px;
  border: 0;
  font-size: 17px;
}

.roomListWrap {
  margin-top: 128px;
}

.fa-search {
  font-size: 17px;
  margin-right: 10px;
}

.list {
  float: left;
  width: 50%;
  padding: 25px;
}

.warpPagination {
  width: 100%;
}

.paginationStyle {
  display: inline-block;
  margin: 30px auto;
}

.map {
  z-index: -1;
  float: left;
  position: fixed;
  top: 128px;
  left: 50%;
  width: 50%;
  height: calc(100vh - 128px);
}
.mapWrap {
  width: 100%;
  height: 100%;
}

.mapSize {
  height: 100%;
}

.roomCount {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 20px;
}

.notice {
  margin-bottom: 35px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  p {
    font-size: 14px;
  }
}

.detailList {
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.detailList:hover {
  box-shadow: 1px 1px 10px gray;
}

.detailList::after {
  clear: both;
  content: '';
  display: block;
}

.detailImg {
  float: left;
  width: 35%;
  border-radius: 5px;
}
.detailText {
  float: left;
  width: 65%;
  padding: 10px;
}

.img1,
.img2 {
  width: 100%;
  border-radius: 5px;
}

agm-map {
  height: 500px;
}

.infowindow {
  width: 250px;
  height: 300px;
  padding: 0;
}

.infoimg {
  width: 100%;
  height: 50%;
}

.counterWrap {
  padding: 30px 20px 60px;
  border: 1px solid black;
}
.counterLine {
  position: relative;
  height: 40px;
  margin-bottom: 20px;
}
.people {
  p {
    display: inline;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  span {
    display: block;
    margin-top: 8px;
    font-size: 12px;
  }
}
.counterCheck {
  position: absolute;
  top: 0;
  right: 0;

  button {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 0;
    border: 1px solid #008489;
    border-radius: 50%;
    background: #fff;
  }
  .counter {
    padding: 0px 20px;
  }
}
.personnelSaveBtn {
  float: right;
  margin-top: 10px;
  border: 0;
  color: #008489;
  background: #fff;
}

.personnelremoveBtn {
  float: left;
  margin-top: 10px;
  border: 0;
  color: black;
  background: #fff;
}

.dateAdjust {
  float: right;
  margin-top: 10px;
  border: 0;
  color: #008489;
  background: #fff;
}

::ng-deep.personnel-dropdown-menu {
  margin-left: 143px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 36px 2px !important;
  border-color: rgba(0, 0, 0, 0.2) !important;
  border-radius: 4px !important;
  padding: 24px !important;
  line-height: 150%;
}
::ng-deep.businesstrip-dropdown-menu {
  margin-left: 207px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 36px 2px !important;
  border-color: rgba(0, 0, 0, 0.2) !important;
  border-radius: 4px !important;
  padding: 24px !important;
  line-height: 150%;
}
::ng-deep.roomtype-dropdown-menu {
  margin-left: 207px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 36px 2px !important;
  border-color: rgba(0, 0, 0, 0.2) !important;
  border-radius: 4px !important;
  padding: 24px !important;
  line-height: 150%;
}
::ng-deep.price-dropdown-menu {
  margin-left: 360px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 36px 2px !important;
  border-color: rgba(0, 0, 0, 0.2) !important;
  border-radius: 4px !important;
  padding: 24px !important;
  line-height: 150%;
}
::ng-deep.instantreservation-dropdown-menu {
  margin-left: 424px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 36px 2px !important;
  border-color: rgba(0, 0, 0, 0.2) !important;
  border-radius: 4px !important;
  padding: 24px !important;
  line-height: 150%;
}
.roomtype-checkbox {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
.roomtype-text {
  margin-left: 20px;
  margin-top: 10px;
}

.personnel-content-second {
  margin-bottom: 30px;
}

.businesstrip-checkbox,
.instantreservation-checkbox {
  float: right;
  margin-top: 10px;
  border: 0;
  color: #008489;
  background: #fff;
}
