@import '~swiper/dist/css/swiper.min.css';

.box{
  position: relative;
  margin-bottom:15px;
  border:2px solid red;

  .main{
    height: 592px;
    cursor: pointer;
    align-items: center;
    overflow: hidden;
    display: flex;
    width:100%;
    border:2px solid blue;

    .left-big{
      width:50%;
      height: 592px;
    }

    .right{
      width: 25%;
      height: 592px;
      overflow :hidden;
      
      .right-left-p{
        height: 50%;
        background-color: rgb(0, 0, 0);
      }
    }
  }
  .btnwrraper{
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;

    .sharecontainer{
      display: inline-block;

      .sharebtn{
        height:30px;
        line-height: 30px;
        padding:0px 10px;
        text-align: center;
        border:0;
        background-color: #ffffff;
        color: #000000;
        border-radius: 3px;  
        margin-right:10px;
        .svg-share{
          margin-right:5px;
        }
      }
    }
    .savecontainer{
      display: inline-block;

      .savebtn{
        height:30px;
        line-height: 30px;
        padding:0px 10px;
        text-align: center;
        border:0;
        background-color: #ffffff;
        color: #000000;
        border-radius: 3px;

        .savemodal{
          position :fixed;
          bottom:10px;
          left:10px;
          width:300px;
          height:40px;
          background-color:red;
        }

        .svg-save{
          margin-right:5px;
        }
      }
    }
  }

  .picwrraper{
    position: absolute;
    left: auto;
    right: 24px;
    bottom: 24px;
    
    .picbtn{
      display:block;
      height:30px;
      line-height: 30px;
      padding:0px 20px;
      text-align: center;
      border:0;
      background-color: #ffffff;
      color: #000000;
      border-radius: 3px;
    }

  }
}

// box 부분 끝 


.detailcontent{
  position: relative;
  width: 1100px;
  margin:0 auto;
  border:2px solid yellow;
  
  .detail-left{
  float: left;
  width: 700px;
  }

  .dialog{
    width: 400px;
    float :right;

    .dialog-pad{
      padding: 24px;
      position: absolute;
      border : 1px solid #ddd;
      width:400px;
      
      .dialog-top{
        width:326px;
        height:64px;
  
        .price{
          font-size: 22px;
        }

        .bac{
          overflow-wrap: break-word;
          font-size: 12px;
          font-weight: 600; 
          line-height: 1.33333em; 
          color: rgb(72, 72, 72); 
          margin: 0px; 
        }

        #ratingbutton{
          width:50px;
          height:20px;
          border: 0;
          background-color : white;
          
          .rating{
            display: block;
            // width:50px;
            height: 10px;
            transform: none;
            background-repeat: space no-repeat;
            display:inline-block;
            background-color:#ffffff;
            color:#008489;
          }
        } 
      }
  
      .dialog-mid{
        width:326px;
        height:383px;


        .mainDate::after {
          content: '';
          display: block;
          clear: both;
        }
        
        .mainDate .form-group {
          float: left;
          width: 50%;
          height:40px;
        
          input {
            width: 100%;
            height: 40px;
            padding: 7px;
            font-size:0.8rem;
            border: 1px solid #f1f1f1;
            border-radius: 5px;
          }
          
        }
        
        .increase1 {
          padding: 5px 10px;
          font-size: 24px;
          border-radius: 5px;
          color: #3f51b5;
          border-color: #3f51b5;
          outline: none;
          cursor: pointer;
          border: 0;
          background-color : white;
        }

        .image{
          background-image: url("https://a0.muscache.com/airbnb/static/packages/icon-uc-tag.ba942714.gif");
          width:80px;
          height:70px;
          position: absolute;
          right: -21px;
          bottom: -7px;
        }

        .dialog-bottom-flex{
          display:flex;
          position: relative;

          .dialog-bottom-position{
            position :absolute;
            right: 10px;
          }
        }

        .continue{
          width:100%;
          height:40px;
          border: 0;
          background-color : red;
          color:white;
          border-radius: 4px;
        }
      }
    }

    .Declaration{
      display:block;
      margin : 0 auto;
      background-color: white;
      border: 0px;
    }
  }
}

.detailcontent::after{
  clear:both;
  display:block;
  content:'';
}

.counterLine{
  position: relative;
  height:40px;
  margin-bottom:20px;

  .people{

    p{
      display: inline;
      font-size:18px;
      font-weight: 600;
      margin:0;
    }
    
    span{
      display: block;
      margin-top:8px;
      font-size:12px;
    }
  }
  .counterCheck{
    position: absolute;
    top:0;
    right:0;
  
      button{
        width:40px;
        height:40px;
        padding:5px;
        margin:0;
        border:1px solid #008489;
        border-radius: 50%;
        background: #fff;
      }
      
      .counter{
        padding:0px 20px;
      }
  }
}

.counterBtn{
  float: right;
  margin-top:10px;
  border:0;
  color: #008489;
  background: #fff;
}

::ng-deep.dropdown-menu{
  width:100%;
  min-width:300px;
  border:1px solid black;
}


::ng-deep.guest-dropdown{
  // width:300px;
  width:100%;
  background: white;
  border: 1px solid #f1f1f1;
}


.relative{
  position: relative;
}


::ng-deep .modal .modal-dialog {
  max-width: 100%;
  margin: 0;
}
::ng-deep .modal-header{
  background-color: black;
}
::ng-deep .roomlistmodalclose{
  color:rgb(255,255,255);
}
::ng-deep .modal-content .swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
::ng-deep .modal-content .swiper-slide img {
  width: 60%;
  margin-left:25%;
  margin-top: 10%;
}
::ng-deep .modal-content .gallery-top {
  height: 80%;
  width: 100%;
  background-color: black;
}

::ng-deep .modal .gallery-thumbs .swiper-slide img {
  width: 25%;
}

.back-drop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  padding: 66px 0 0;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  
}
.back-drop.active {
  opacity: 1;
  z-index: 10;
}
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #FFF;
  font-size: 30px;
  background-color: transparent;
  border: 0;
}
.all-wrpper {
  width: 1000px;
  margin: 0 auto;
}
.gallery-top .swiper-slide {
  text-align: center;
  background-color: rgb(0, 0, 0);
}
.gallery-top .swiper-slide img {
  height: 600px;
}
.gallery-thumbs {
  width:900px;
  margin:20px auto 0;
  height: 65px;
}
.gallery-thumbs .swiper-slide {
  overflow: hidden;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide img {
  width: 100%;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}


// .bs-datepicker-container{
// .mainDate {
//   margin-left: 485px;
//   margin-top: 44px;
//   background: red;
// }


