<app-navigation></app-navigation>
<div class="box">
  <div class="main">
    
    <div class="left-big">
    <img src="https://a0.muscache.com/im/pictures/fa07aa7b-0936-42a4-8b24-8dc85d7204c0.jpg?aki_policy=xx_large"
    height="590" width="885">
    </div>

    <div class="right">
      
      <div class="right-left-p">
        <img src="https://a0.muscache.com/im/pictures/fc882024-d547-45e7-b3a9-09b2bacc1257.jpg?aki_policy=large">
      </div>

      <div class="right-left-p">
        <img src="https://a0.muscache.com/im/pictures/7bd5625e-b9cd-407e-a5de-34540b7edfab.jpg?aki_policy=large">
      </div>
    </div> <!--right-left-->

    <div class="right">
      
      <div class="right-left-p">
        <img src="https://a0.muscache.com/im/pictures/73c41fb8-658e-419a-bef2-95abf08e4a80.jpg?aki_policy=large">
      </div>

      <div class="right-left-p">
        <img src="https://a0.muscache.com/im/pictures/884f3794-1451-443a-9cbe-c2e2d8f11bc1.jpg?aki_policy=large">
      </div>
    
    </div> <!-- right-right -->
  </div> <!-- main -->

  <div class="s">
    <div class="hey">
        <button type="button" class="share" class="button-s">
            <svg style="height:15px;" viewBox="0 0 24 24" fill-opacity="0" stroke="currentColor" class="svg-s">
                <path d="m11.5 16v-15"></path>
                <path d="m7.5 4 4-3 4 3"></path>
                <path d="m5.4 9.5h-3.9v14h20v-14h-3.1"></path>
            </svg>
        공유하기</button>
    </div> <!-- hey -->

    <div class="hey">
      <button type="button" class="share" class="button-s">
        <svg style="height:15px;" viewBox="0 0 24 24" fill-opacity="0" stroke="#484848" class="svg-s">
          <path d="m17.5 2.9c-2.1 0-4.1 1.3-5.4 2.8-1.6-1.6-3.8-3.2-6.2-2.7-1.5.2-2.9 1.2-3.6 2.6-2.3 4.1 1 8.3 3.9 11.1 1.4 1.3 2.8 2.5 4.3 3.6.4.3 1.1.9 1.6.9s1.2-.6 1.6-.9c3.2-2.3 6.6-5.1 8.2-8.8 1.5-3.4 0-8.6-4.4-8.6" ></path>
        </svg>
      저장</button>
    </div> <!-- hey -->
  
  </div> <!-- s -->

  <div class="showpicture">
      <button (click)="isOpen = !isOpen">사진보기</button>
  </div> <!--showpicture-->
</div> <!-- box -->


<div class="detailcontent">
  
  <div class="detail-left">
  <app-roomdetail-info></app-roomdetail-info>
  </div> <!--b-->
  
  <div class="dialog" appScroll>
    
    <div class="dialog-pad">
    
      <div class="dialog-top">
        
        <div> 
          <span class="price">₩{{price}}</span>
          <span class="bac">/박</span>
        </div> <!-- 가격 -->
        
        <button id="ratingbutton">
          <span class="rating"><i class="fas fa-star"></i>★★★</span>
          <i class="far fa-star"></i>
          <span class="rating">89</span>
        </button> <!--rating-->
        <div>
          <hr class="hr">
        </div>
      </div>
    
      <form class="dialog-mid">
        <div>
          
          <div id="datepick">날짜
            <div>
              <input>
            </div>
                  <!-- <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
                    <input class="form-control"
                          placeholder="Datepicker"
                          ngModel
                          bsDatepicker
                          [minDate]="minDate"
                          [maxDate]="maxDate">
                  </div> -->
<!--                   
                  <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
                    <input class="form-control"
                        placeholder="Daterangepicker"
                        ngModel
                        bsDaterangepicker
                        [minDate]="minDate"
                        [maxDate]="maxDate">
                  </div> -->
          </div>
          
          <div>인원
              <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                  <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle guest-dropdown"
                          aria-controls="dropdown-basic">
                    게스트 {{Allcounter}}명
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                      role="menu" aria-labelledby="button-basic">
                      
                      <div class="counterLine">
                          <div class="people">
                              <p class="top">성인</p>
                          </div>
                          <div class="counterCheck">
                            <button class="decrease" type="button" (click)="decrease(1)">
                              -</button>
                            <span class="counter">{{Adultcounter}}</span>
                            <button class="increase" (click)="increase(1)" type="button">+</button>
                          </div>
                      </div>
                      <div class="counterLine">
                          <div class="people">
                            <p>어린이</p>
                            <span>2~12세</span>
                          </div>
                          <div class="counterCheck">
                            <button class="decrease" type="button" (click)="decrease(2)">-</button>
                            <span class="counter">{{Childcounter}}</span>
                            <button class="increase" type="button" (click)="increase(2)">+</button>
                          </div>
                      </div>
                      <div class="counterLine">
                          <div class="people">
                            <p>유아</p>
                            <span>2세 미만</span>
                          </div>
                          <div class="counterCheck">
                            <button class="decrease" type="button" (click)="decrease(3)">-</button>
                            <span class="counter">{{Youngcounter}}</span>
                            <button class="increase" type="button" (click)="increase(3)">+</button>
                          </div>
                      
                      </div>
                    
                    <button class="counterBtn" type="button" (click)="dropdown.isOpen = !dropdown.isOpen">닫기</button>
                  </ul>
              </div>
            </div>
          </div>  
        
        
        <div> <!--dialog bottom-->
        
        <div class="dialog-bottom-flex">
          <span>₩{{price}} x {{min_stay}}박</span>
            <span class="dialog-bottom-position">₩{{totalprice}}</span>
          <hr>
        </div>
        <hr>
        <div class="dialog-bottom-flex">
          <span>서비스 수수료</span>
          <span class="dialog-bottom-position">₩{{serviceprice}}</span>
        </div>
        <hr>
        
        <div class="dialog-bottom-flex">
          <span>숙박세와 수수료</span>
          <div class="dkd">
          </div>
            <span class="dialog-bottom-position">₩{{Accommodation}}</span>
        </div>
        <hr>
        
        <div class="dialog-bottom-flex">
          <span>합계</span>
            <span class="dialog-bottom-position">₩{{finalprice}}</span>
          <hr>
        </div>
        
        </div>
        
        <button type="submit" class="continue"><div>계속 진행하기</div></button>
        <div>예약 확정 전에는 요금이 청구되지 않습니다 </div>
        <hr>
        
        <button type="button" class="Declaration">이 숙소 신고하기</button>

      </form>
    </div> <!--dialog bottom-->
      
  </div> <!-- dialog-->
</div> <!--detailcontent-->

<!-- <ng-template #roomlist>
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" >
        <span aria-hidden="true" class="roomlistmodalclose">&times;</span>
      </button>
    </div> -->
    <!-- <swiper [config]="galleryTop">
      <button>
      <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false" style="height: 4.8em; width: 4.8em; fill: rgb(255, 255, 255);"><path d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z" fill-rule="evenodd"></path></svg>
      </button>
      <img src="https://a0.muscache.com/im/pictures/fa07aa7b-0936-42a4-8b24-8dc85d7204c0.jpg?aki_policy=xx_large">
      <img src="https://a0.muscache.com/im/pictures/fc882024-d547-45e7-b3a9-09b2bacc1257.jpg?aki_policy=large">
      <img src="https://a0.muscache.com/im/pictures/7bd5625e-b9cd-407e-a5de-34540b7edfab.jpg?aki_policy=large">
      <button><svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false" style="height: 4.8em; width: 4.8em; fill: rgb(255, 255, 255);"><path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z" fill-rule="evenodd"></path></svg>
      </button>
    </swiper> -->
    <!-- <div class="modal-body"> -->
      <!-- <div class="swiper-container gallery-top" #galleryTop [swiper]="galleryTopConfig">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="https://a0.muscache.com/im/pictures/fa07aa7b-0936-42a4-8b24-8dc85d7204c0.jpg?aki_policy=xx_large">
          </div>
          <div class="swiper-slide">
            <img src="https://a0.muscache.com/im/pictures/fc882024-d547-45e7-b3a9-09b2bacc1257.jpg?aki_policy=large">
          </div>
          <div class="swiper-slide">
            <img src="https://a0.muscache.com/im/pictures/7bd5625e-b9cd-407e-a5de-34540b7edfab.jpg?aki_policy=large">
          </div>
        </div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
      </div>
      <div class="swiper-container gallery-thumbs" #galleryThumbs [swiper]="galleryThumbsConfig">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="https://a0.muscache.com/im/pictures/fa07aa7b-0936-42a4-8b24-8dc85d7204c0.jpg?aki_policy=xx_large">
          </div>
          <div class="swiper-slide">
            <img src="https://a0.muscache.com/im/pictures/fc882024-d547-45e7-b3a9-09b2bacc1257.jpg?aki_policy=large">
          </div>
          <div class="swiper-slide">
            <img src="https://a0.muscache.com/im/pictures/7bd5625e-b9cd-407e-a5de-34540b7edfab.jpg?aki_policy=large">
          </div>
        </div>
      </div>
    </div>
  </ng-template> -->

<div class="back-drop" [class.active]="isOpen">
  <button (click)="isOpen = !isOpen" class="close-btn">X</button>
  
  <div class="all-wrpper">
    
    <div class="swiper-container gallery-top" #galleryTop [swiper]="galleryTopConfig">
      
      <div class="swiper-wrapper">
        
        <div class="swiper-slide">
            <img src="https://a0.muscache.com/im/pictures/fa07aa7b-0936-42a4-8b24-8dc85d7204c0.jpg?aki_policy=xx_large">
        </div>
        <div class="swiper-slide">
          <img src="https://a0.muscache.com/im/pictures/fc882024-d547-45e7-b3a9-09b2bacc1257.jpg?aki_policy=large">
        </div>
        <div class="swiper-slide">
          <img src="https://a0.muscache.com/im/pictures/7bd5625e-b9cd-407e-a5de-34540b7edfab.jpg?aki_policy=large">
        </div>
        <div class="swiper-slide">
          <img src="https://a0.muscache.com/im/pictures/73c41fb8-658e-419a-bef2-95abf08e4a80.jpg?aki_policy=large">
        </div>
        <div class="swiper-slide">
          <img src="https://a0.muscache.com/im/pictures/884f3794-1451-443a-9cbe-c2e2d8f11bc1.jpg?aki_policy=large">
        </div>
      
      </div> <!-- swiper-wrapper -->
      
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div> <!-- gallery-top -->
    
    <div class="swiper-container gallery-thumbs" #galleryThumbs [swiper]="galleryThumbsConfig">
      
      <div class="swiper-wrapper">
        
        <div class="swiper-slide">
          <img src="https://a0.muscache.com/im/pictures/fa07aa7b-0936-42a4-8b24-8dc85d7204c0.jpg?aki_policy=xx_large">
        </div>
        <div class="swiper-slide">
            <img src="https://a0.muscache.com/im/pictures/fc882024-d547-45e7-b3a9-09b2bacc1257.jpg?aki_policy=large">
        </div>
        <div class="swiper-slide">
          <img src="https://a0.muscache.com/im/pictures/7bd5625e-b9cd-407e-a5de-34540b7edfab.jpg?aki_policy=large">
        </div>
        <div class="swiper-slide">
          <img src="https://a0.muscache.com/im/pictures/73c41fb8-658e-419a-bef2-95abf08e4a80.jpg?aki_policy=large">
        </div>
        <div class="swiper-slide">
          <img src="https://a0.muscache.com/im/pictures/884f3794-1451-443a-9cbe-c2e2d8f11bc1.jpg?aki_policy=large">
        </div>
      
      </div> <!--swiper-wrapper-->
  
    </div> <!-- gallery-thumbs -->
  
  </div> <!-- all-wrpper -->

</div> <!-- back-drop -->




  





